services:
  authentication-service:
    build: .
    container_name: authentication-service
    env_file:
      - .env
    develop:
      watch:
        # Sincroniza tu código fuente automáticamente
        - action: sync
          path: .
          target: /app
          ignore:
            - __pycache__/
            - .venv/
        # Si cambia requirements.txt, obliga a reconstruir la imagen
        - action: rebuild
          path: requirements.txt
    command: >
      uvicorn main:app
      --host 0.0.0.0
      --port 8000
      --reload

    networks:
      - backend_net

networks:
  default:
    name: backend_net
    external: true
