services:
  authentication-service:
    build: .
    image: authentication-service:latest
    container_name: authentication-service
    env_file:
      - .env

    volumes:
      - ./creds/firebase_credentials.json:/app/creds/firebase_credentials.json:ro

    ports:
      - "8000:8000"

    develop:
      watch:
        # Sincroniza tu código fuente automáticamente
        - action: sync
          path: .
          target: /app
          ignore:
            - __pycache__/
            - .venv/
        # Si cambia requirements.txt, obliga a reconstruir la imagen
        - action: rebuild
          path: requirements.txt

networks:
  default:
    name: backend_net
    external: true
